/*
style.css
---------
par toutchi the kid
*/

#bloc_page {
  width: auto;
  height: 1080px;
  background-color: #000;
}

#container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  width: 790px;
  height: 100%;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border: solid 1px #707070;
}

body {
  font-family: 'helvetica', sans-serif;
  margin: 0;
  font-size: 0.9em;
  background-color: #000;
}

#box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: start;
  margin-right: 5%;
  margin-left: 5%;
  width: 100%;
}

.head {
  padding-top: 20px;
  font-weight: lighter;
}

h1 {
  padding-top: 40px;
  font-size: 2.2em;
  margin: 0;
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
  font-size: 1.1em;
  margin-top: 5px;
}

h3 {
  font-weight: bold;
  font-style: normal;
  border-bottom: #FFCA28 solid 2px;
}

h4 {
  background-color: #373737;
  color: #FFCA28;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}

#box_aside {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #FFCA28;
  margin: 0;
  color: #424242;
  font-weight: lighter;
  font-size: 0.8em;
  padding-bottom: 30px;
}

.content-right {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.section {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: auto;
  flex-direction: column;
  align-self: baseline;
}

.text-justify {
  text-align: justify;
}

.text-yellow {
  color: #FFCA28;
  font-style: normal;
}

.text-underline {
  border-bottom: 1px solid #FFCA28;
  padding-bottom: 5px;
  font-style: normal;
}

span {
  font-weight: lighter;
  font-style: normal;
}

.content-left-mail {
  color: #484848;
  text-decoration: none;
}

.img {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

#photo {
  margin-top: 35px;
  margin-bottom: 2px;
  padding: 0;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: #daaf12 solid 2px;
  align-self: center;
}

.reve {
  margin-top: 20px;
  padding-bottom: 280px;
  margin-right: 25px;
  margin-left: 25px;
  text-align: justify;
  color: #484848;
  font-size: 1em;
}

.items {
  margin-left: 30px;
}

.title {
  font-weight: lighter;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin: 20px 0px 0px;
}

.espace {
  padding-bottom: 6px;
  padding-top: 6px;
}

li {
  font-size: 0.8em;
  font-weight: lighter;
  list-style-type: none;
  padding-bottom: 2px;
}

ul {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  width: 60%;
  margin-top: 0;
  padding-bottom: 2px;
  color: #757575;
}

.fa,
.fas {
  font-weight: 900;
  font-size: 6px;
}

section.section:nth-child(2)>div:nth-child(3)>i:nth-child(1) {
  margin-left: 1%;
}

div.content-right:nth-child(4)>i:nth-child(1) {
  margin-left: 1%;
}

section.section:nth-child(3)>div:nth-child(3)>i:nth-child(1) {
  margin-left: 1%;
}

.vcenter {
  vertical-align: top;
  margin-left: 10px;
  font-weight: normal;
  font-style: normal;
}

.vcenter2 {
  color: #000000;
  font-weight: bolder;
  font-size: 1em;
  text-decoration: none;
}

.date {
  font-size: 0.7em;
  margin-right: 7%;
  margin-left: 2%;
  display: flex;
  font-weight: lighter;
  font-style: normal;
  width: 13%;
}

.title-left {
  margin: 13px 0 0 0;
}

.content-left {
  margin: 0;
}

.title_right {
  margin: auto;
  display: inline;
  flex-direction: column;
}

.liste>ul {
  margin: 0;
  padding: 0;
  color: #000;
}

.lighter {
  font-weight: lighter;
  color: #757575;
}

.liste {
  display: flex;
  flex-direction: row;
  font-weight: normal;
  padding-bottom: 20px;
  font-size: 1.1em;
}

.logo {
  width: 5%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width:990px) {
  #container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border: solid 1px #707070;
  }

  #box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    margin-right: 5%;
    margin-left: 5%;
    width: 100%;
  }

  #box_aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFCA28;
    margin: 0;
    color: #424242;
    font-weight: lighter;
    font-size: 1em;
    padding-bottom: 30px;
    text-align: center;
  }

  .reve {
    padding: 0;
  }

  .head {
    padding-top: 20px;
    font-weight: lighter;
    text-align: center;
  }
}